<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="false">

  <extensions>
    <add assembly="Microsoft.Practices.DataPipeline" />
  </extensions>

  <variable name="logDirectory" value="\resources\directory\logs" />
  <variable name="archiveDirectory" value="\resources\directory\archive" />
  <variable name="service" value="${machinename}" />
  <variable name="role" value="${machinename}" />
  <variable name="instance" value="${machinename}" />

  <targets async="true">
    <!-- Log standard (non-exception detail) messages to a rolling log file -->
    <target name="App" xsi:type="File"
          lineEnding="Default" autoFlush="true" keepFileOpen="false"
          concurrentWrites="true" archiveEvery="Hour"
          fileName="${logDirectory}/ApplicationLog.txt"
          archiveFileName="${archiveDirectory}/ApplicationLog_${date:format=yyyyMMddHH}_{#####}.log"
          archiveNumbering="sequence"
          maxArchiveFiles="720"
    >
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate:universalTime=true}" />
        <column name="activityId" layout="${event-context:item=activityId}" />
        <column name="machinename" layout="${machinename}" />
        <column name="role" layout="${machinename}" />
        <column name="instance" layout="${machinename}" />
        <column name="level" layout="${level}" />
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=1:innerFormat=shortType,method}}" />
      </layout>
    </target>

    <!-- 
    File target used for detailed exception messages. Exception details and stack 
    trace are recorded in this target for ease of debugging.
    -->
    <target name="Error" xsi:type="FilteringWrapper"
             condition="length('${exception}')>0">

      <target name="Error_File" xsi:type="File"
                lineEnding="Default" autoFlush="false" keepFileOpen="false"
                concurrentWrites="true" archiveEvery="Hour"
                fileName="${logDirectory}/ErrorLog.log"
                archiveFileName="${archiveDirectory}/ErrorLog_${date:format=yyyyMMddHH}_{#####}.log"
                archiveNumbering="sequence"
                maxArchiveFiles="720"
      >
        <layout xsi:type="CsvLayout">
          <column name="time" layout="${longdate:universalTime=true}" />
          <column name="activityId" layout="${event-context:item=activityId}" />
          <column name="machinename" layout="${machinename}" />
          <column name="role" layout="${role}" />
          <column name="instance" layout="${instance}" />
          <column name="level" layout="${level}" />
          <column name="logger" layout="${logger}" />
          <column name="message" layout="${message}" />
          <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace,tostring:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
        </layout>
      </target>
    </target>

    <!-- Log API trace messages to a rolling log file -->
    <target name="ApiTrace" xsi:type="File"
          lineEnding="Default" autoFlush="true" keepFileOpen="false"
          concurrentWrites="true" archiveEvery="Hour"
          fileName="${logDirectory}/ApiTraceLog.log"
          archiveFileName="${archiveDirectory}/ApiTraceLog_${date:format=yyyyMMddHH}_${time}_{#####}.log"
          archiveNumbering="sequence"
          maxArchiveFiles="720"
    >
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate:universalTime=true}" />
        <column name="machinename" layout="${machinename}" />
        <column name="role" layout="${role}" />
        <column name="instance" layout="${instance}" />
        <column name="api" layout="${event-context:item=api}" />
        <column name="elapsed" layout="${event-context:item=elapsed}" />
        <column name="eventid" layout="${event-context:item=eventid}" />
        <column name="action" layout="${event-context:item=action}" />
        <column name="message" layout="${message}" />
      </layout>
    </target>

    <target name="db_message" type="Database"
      dbProvider="System.Data.SqlClient"
      connectionStringName="NLog.TelemetryDatabase"
      commandText="EXEC [dbo].[usp_InsertLog] @created, @host, @role, @instance, @level, @logger, @message, @exception"
    >
      <parameter name="@created" layout="${longdate:universalTime=true}" />
      <parameter name="@activityId" layout="${event-context:item=activityId}" />
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@role" layout="${role}" />
      <parameter name="@instance" layout="${instance}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=2:innerFormat=shortType,method,message}}" />
    </target>
    
  </targets>

  <!-- Rules; routing and matching -->
  <rules>
    <!-- API execution tracing -->
    <logger name="ApiTrace"  final="true" minlevel="Debug" maxlevel="Error" writeTo="ApiTrace" />

    <!-- Named loggers -->
    <logger name="Dispatcher.Provisioning" final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error,db_message" />
    <logger name="Dispatcher.PoisonHandler" final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error,db_message" />
    <logger name="Handler.ProvisioningStep" final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error,db_message" />
    <logger name="Handler.Orchestration" final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error,db_message" />

    <logger name="CommandApi.Client" final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error,db_message" />
    <logger name="Azure.Host" final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error,db_message" />

    <logger name="Identity.Default" final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error,db_message" />
    <logger name="Identity.ACS" final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error,db_message" />

    <logger name="Storage.Sql" final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error,db_message" />

    <!-- Write all remaining events to the default target set -->
    <logger name="*" minlevel="Debug" maxlevel="Error" final="true" writeTo="App,Error,db_message" />
  </rules>
</nlog>
