<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="false"
    internalLogToConsole="true"
    internalLogToConsoleError="true"
    internalLogLevel="Info">

  <extensions>
    <add assembly="Microsoft.Practices.DataPipeline" />
  </extensions>

  <variable name="logDirectory" value="${environment:variable=SystemDrive}/logs" />
  <variable name="archiveDirectory" value="${environment:variable=SystemDrive}/logs/archive" />

  <targets async="true">
    <!-- Log standard (non-exception detail) messages to a rolling log file -->
    <target name="App" xsi:type="File"
          lineEnding="Default" autoFlush="true" keepFileOpen="false"
          concurrentWrites="true" archiveEvery="Hour"
          fileName="${logDirectory}/ApplicationLog_${date:format=yyyyMMddHH}.txt"
          archiveFileName="${archiveDirectory}/ApplicationLog_${date:format=yyyyMMddHH}_{#####}.log"
          archiveNumbering="sequence"
          maxArchiveFiles="720"
    >
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="machinename" layout="${machinename}" />
        <column name="role" layout="${machinename}" />
        <column name="instance" layout="${machinename}" />
        <column name="level" layout="${level}" />
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=1:innerFormat=shortType,method}}" />
      </layout>
    </target>

    <!-- 
    File target used for detailed exception messages. Exception details and stack 
    trace are recorded in this target for ease of debugging.
    -->
    <target name="Error" xsi:type="FilteringWrapper"
             condition="length('${exception}')>0">

      <target name="Error_File" xsi:type="File"
                lineEnding="Default" autoFlush="false" keepFileOpen="false"
                concurrentWrites="true" archiveEvery="Hour"
                fileName="${logDirectory}/ErrorLog.log"
                archiveFileName="${archiveDirectory}/ErrorLog_${date:format=yyyyMMddHH}_{#####}.log"
                archiveNumbering="sequence"
                maxArchiveFiles="720"
      >
        <layout xsi:type="CsvLayout">
          <column name="time" layout="${longdate}" />
          <column name="machinename" layout="${machinename}" />
          <column name="role" layout="${machinename}" />
          <column name="instance" layout="${machinename}" />
          <column name="level" layout="${level}" />
          <column name="logger" layout="${logger}" />
          <column name="message" layout="${message}" />
          <column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace,tostring:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
        </layout>
      </target>
    </target>

    <!-- Log API trace messages to a rolling log file -->
    <target name="ApiTrace" xsi:type="File"
          lineEnding="Default" autoFlush="true" keepFileOpen="false"
          concurrentWrites="true" archiveEvery="Hour"
          fileName="${logDirectory}/ApiTraceLog.log"
          archiveFileName="${archiveDirectory}/ApiTraceLog_${date:format=yyyyMMddHH}_${time}_{#####}.log"
          archiveNumbering="sequence"
          maxArchiveFiles="720"
    >
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="machinename" layout="${machinename}" />
        <column name="role" layout="${machinename}" />
        <column name="instance" layout="${machinename}" />
        <column name="api" layout="${event-context:item=api}" />
        <column name="eventid" layout="${event-context:item=eventid}" />
        <column name="action" layout="${event-context:item=action}" />
        <column name="message" layout="${message}" />
      </layout>
    </target>

    <target xsi:type="ColoredConsole" name="console" useDefaultRowHighlightingRules="true" />

    <!--
    <target xsi:type="ElasticSearch" name="index_msg"
            ServiceUrl="[YourElasticSearchEndpoint]"
            Index="logstash-${date:format=yyyy.MM.dd}"
    >
      <field name="message" layout="${message}" />
      <field name="machinename" layout="${machinename}" />
      <field name="role" layout="${machinename}" />
      <field name="instance" layout="${machinename}" />
      <field name="level" layout="${level}" />
      <field name="logger" layout="${logger}" />
      <field name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace,tostring:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    </target>

    <target xsi:type="ElasticSearch" name="index_api"
            ServiceUrl="[YourElasticSearchEndpoint]"
            Index="logstash-${date:format=yyyy.MM.dd}"
    >
      <field name="message" layout="${message}" />
      <field name="machinename" layout="${machinename}" />
      <field name="role" layout="${machinename}" />
      <field name="instance" layout="${machinename}" />
      <field name="api" layout="${event-context:item=api}" />
      <field name="eventid" layout="${event-context:item=eventid}" />
      <field name="action" layout="${event-context:item=action}" />
    </target>
    -->
    
  </targets>

  <!-- Rules; routing and matching -->
  <rules>
    <!-- Named configuration loggers -->
    <logger name="ApiTrace"  final="true" minlevel="Debug" maxlevel="Error" writeTo="ApiTrace" />
    <logger name="Database"  final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error" />
    <logger name="Cache"     final="true" minlevel="Info" maxlevel="Error" writeTo="App,Error" />
    <logger name="Scheduler" final="true" minlevel="Debug" maxlevel="Error" writeTo="App,Error" />

    <!-- Dispatcher loggers -->
    <logger name="Dispatcher.Coordinator" final="true" minlevel="Info" maxlevel="Error" writeTo="console,App,Error" />
    <logger name="Dispatcher.Processor" final="true" minlevel="Info" maxlevel="Error" writeTo="console,App,Error" />
    <logger name="Dispatcher.PoisonHandler" final="true" minlevel="Info" maxlevel="Error" writeTo="console,App,Error" />
    <logger name="Dispatcher.Resolver" final="true" minlevel="Info" maxlevel="Error" writeTo="console,App,Error" />

    <!-- Handler loggers -->
    <logger name="Cars.Handlers" final="true" minlevel="Info" maxlevel="Error" writeTo="console,App,Error" />

    <!-- Cold storage loggers -->
    <logger name="ColdStorage.MessageProcessor" final="true" minlevel="Debug" maxlevel="Error" writeTo="console,App,Error" />
    <logger name="ColdStorage.Processor" final="true" minlevel="Debug" maxlevel="Error" writeTo="console,App,Error" />
    <logger name="ColdStorage.RollingBlobWriter" final="true" minlevel="Debug" maxlevel="Error" writeTo="console,App,Error" />

    <!-- Write all remaining events to the default target -->
    <logger name="*" minlevel="Info" maxlevel="Error" final="true" writeTo="console,App,Error" />
  </rules>
</nlog>
