<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <!--
    A storage account is required to run these integration tests.
    These tests will create a container in the account each time they 
    are executed. However, the container name should not collide with
    any of the other conainer used in this sample.
    -->
    <add key="storageconnectionstring"
         value="DefaultEndpointsProtocol=https;AccountName=[YourStorageAccountName];AccountKey=[YourStorageAccountKey]" />
  </appSettings>

</configuration>